<%- include("header.ejs") %>

<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, nobis! Amet nihil incidunt error, ipsum placeat non cumque animi. Nam sed pariatur sunt magnam! Doloremque nisi, cumque impedit iste excepturi consequuntur aperiam, nihil rerum numquam ad animi ipsum sed enim repudiandae soluta magnam laboriosam. Tempore, totam assumenda? Quasi, quibusdam odio?</p>


<!-- This is the about page of our website. When you run it, you can see that the look and feel of the website is maintained. This is because we're using layouts. The header layout contains our styles.css file that is responsible for the designing of our website -->


<%- include("footer.ejs") %>